{% extends 'base.html' %}
{% block content %}

<h2>Admin Page</h2>

<p>Number of feedbacks: {{ feedback_count }}</p>

{% for feedback in feedbacks %}

<div>
    <p>Name: {{feedback.name}}</p>
    <p>Email: {{feedback.email}}</p>
    <p>Feedback: {{feedback.description}}</p>

    {% if feedback.image_path %}
        <p>Image</p>
        <img style="max-height: 300px" src="{{user_image_location}}/{{feedback.image_path}}">
    {% else %}
        <p>No image</p>
    {% endif %}

</div>

{% endfor %}

{% endblock %}